.field-container {
  display: flex;
  flex-direction: column;
}
.field-container label {
  text-align: left;
}
.field-container input {
  margin: 9px 0;
  padding: 10px;
  border: 0.7px solid #000;
  border-radius: 6px;
  color: #000;
  text-align: left;
  font-size: 24px;
}